Options -Indexes

<FilesMatch "(config\.php|functions\.php|database\.sql)">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript
</IfModule>
